.main-content {
  display: flex;
  flex-direction: column;

  flex: 1;
  gap: 100px;
}

.experience-text {
  margin-bottom: 12px;
}

.article-creator {
  width: 500px;
  height: 250px;
  gap: 14px;
}

.submit-button {
  width: 100px;
}

.line-element {
  height: 30px;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
}
