<div class="header-container" id="header-placeholder">
  <header class="header">
    <div class="header__content">
      <a href="index.html" class="header__company-sign">Name-folio</a>
      <nav aria-label="Основная навигация">
        <ul class="header__nav">
          <li>
            <a
              class="header__element"
              data-text="About me"
              data-page="index"
              routerLink="/"
              routerLinkActive="header__element--active"
              [routerLinkActiveOptions]="{ exact: true }"
              >About me</a
            >
          </li>
          <li>
            <a
              class="header__element"
              data-text="Blog"
              data-page="blog"
              routerLink="/blog"
              routerLinkActive="header__element--active"
              >Blog</a
            >
          </li>
          <li>
            <a
              href="#footer"
              class="header__element contact"
              data-text="Contact"
              data-page="contact"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </header>
</div>
