@import url("./vars.css");

:root {
  --main-image-width: 479px;
  --main-image-height: 647px;
}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 156px;
}

.about-me__text-block {
  align-self: center;
}

.about-me__images {
  position: relative;
}

.about-me__main-image {
  display: block;
  max-width: none;
  width: var(--main-image-width);

  height: auto;
  object-fit: cover;

  z-index: 1;
}

.about-me__design-element {
  left: -118px;
  top: 39%;
  position: absolute;
  z-index: 1;
}

.about-me__header {
  margin-bottom: 35px;
}

.about-me__paragraph {
  color: var(--color-gray-on-bright);
  margin-bottom: 14px;
}

.about-me__link {
  color: var(--color-green-dark);

  display: flex;
  align-items: center;

  gap: 12px;
}

.about-me__link::after {
  content: url("../assets/icons/continue-icon.svg");
  color: var(--color-green-dark);

  height: 19px;
  line-height: 100%;
}
