.hello-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 70px;
  gap: 11vw;
}

.hello-section__title {
  margin-bottom: 25px;
}

.hello-section__paragraph {
  color: var(--color-gray-on-bright);
  font-size: 20px;
}

.blog {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;

  position: relative;
}

.card__delete-article-button {
  display: none;

  width: 24px;
  height: 24px;

  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;
}

.card:hover .card__delete-article-button {
  display: inline-flex;
}

.card__delete-article-button:hover {
  filter: brightness(0.8);
}

.card--big {
  flex-direction: row;
  gap: 50px;

  background-color: #fafafa;
  border-radius: 8px;
}

.card--small {
  display: flex;
  flex: 1;
  width: 100%;
  height: auto;
}

.card__text {
  display: flex;
  flex-direction: column;

  align-items: start;
  justify-content: center;
}

.card__text--big {
  width: 100%;
  height: auto;

  padding-right: 30px;
  padding-bottom: 30px;

  flex: 1;
}

.card__image {
  display: flex;
  flex: 1;
  min-width: 0;

  object-fit: cover;

  border-radius: 5px;
}

.blog__small-cards-container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  column-gap: 36px;
  row-gap: 64px;

  max-width: calc(100vw - 2 * var(--page-padding));
}

@media (max-width: 800px) {
  .blog__small-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.posts-section {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.blog__next-button {
  width: 180px;
  height: 50px;

  color: var(--color-green-dark);
  border: 1px solid var(--color-green-dark);
  background-color: var(--color-bright-bg);

  padding: 12px 55px;
  border-radius: 5px;
}

.card__title {
  margin-top: 8px;
  margin-bottom: 20px;
}

.card__date {
  font-size: 16px;
}

.placeholder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.placeholder__text {
  color: var(--color-gray-on-bright);
  font-size: 16px;
  font-weight: var(--font-regular);
}

.display-none {
  display: none;
}
