.footer-container {
  padding: 55px 130px;
  background-color: var(--color-dark-bg);
  margin-top: 65px;
}

.footer {
  gap: 100px;
  justify-content: space-between;
  color: var(--color-white-on-dark);
  display: flex;
  flex: 1;
}

.footer h2 {
  color: var(--color-white-on-dark);
  margin: 0;
}

.footer a {
  color: var(--color-white-on-dark);
}

.social-networks {
  display: flex;
  gap: 40px;
}

.offer-section {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.social-networks__link {
  transition: transform 0.3s;
}

[class$="--bouncing"]:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
}
