<footer class="footer">
  <section>
    <h2>Контакты</h2>
    <address>
      <ul class="">
        <li>
          <span>Email: </span>
          <a href="mailto:alex@creativeblog.ru" id="mail" class="mail-view"
            >alex@creativeblog.ru</a
          >
        </li>
        <li>
          <span>Телефон: </span>
          <a href="tel:+79991234567" id="phone">+7 (999) 123-45-67</a>
        </li>
      </ul>
    </address>
  </section>

  <section>
    <h3>Социальные сети:</h3>
    <nav aria-label="Социальные сети">
      <ul class="flex fd-row">
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">Instagram</a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">Twitter</a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">GitHub</a>
        </li>
      </ul>
    </nav>
  </section>
</footer>
