<footer class="footer" id="footer">
  <section class="offer-section">
    <section>
      <h2>Say hello and let's work together !</h2>
      <address>
        <ul class="">
          <li>
            <span>Email: </span>
            <a href="mailto:alex@creativeblog.ru" id="mail" class="mail-view"
              >alex@creativeblog.ru</a
            >
          </li>
          <li>
            <span>Телефон: </span>
            <a href="tel:+79991234567" id="phone">+7 (999) 123-45-67</a>
          </li>
        </ul>
      </address>
    </section>

    <section>
      <nav aria-label="Социальные сети">
        <ul class="social-networks">
          <li>
            <a
              class="social-networks__link social-networks__link--bouncing"
              href="https://vk.com"
              target="_blank"
              rel="noopener noreferrer"
              ><img src="/src/assets/icons/vk-icon.svg" alt="Вконтакте"
            /></a>
          </li>
          <li>
            <a
              class="social-networks__link social-networks__link--bouncing"
              href="https://web.telegram.org/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="/src/assets/icons/telegram-icon.svg" alt="Телеграм"
            /></a>
          </li>
          <li>
            <a
              class="social-networks__link social-networks__link--bouncing"
              href="https://github.com"
              target="_blank"
              rel="noopener noreferrer"
              ><img src="/src/assets/icons/github-icon.svg" alt="Гитхаб"
            /></a>
          </li>
        </ul>
      </nav>
    </section>

    <p>© 2026 Brand, Inc</p>
  </section>

  <div id="form-placeholder"></div>
</footer>
