<header class="header">
  <div class="header__content">
    <a href="public/index.html" class="header__company-sign">Name-folio</a>
    <nav aria-label="Основная навигация">
      <ul class="header__nav">
        <li>
          <a
            href="public/index.html"
            class="header__element"
            data-text="About me"
            >About me</a
          >
        </li>
        <li>
          <a href="blog.html" class="header__element" data-text="Blog">Blog</a>
        </li>
        <li>
          <a href="#footer" class="header__element" data-text="Contact"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
