<section class="about-me">
  <div class="about-me__text-block">
    <h2 class="about-me__header">Hello! I’m Nelsom, a photographer</h2>

    <p class="about-me__paragraph">
      Occaecat elit pariatur non Lorem laborum proident Lorem non sint nostrud.
      Et dolore incididunt mollit nostrud Lorem dolore. Qui aliquip aute amet eu
      adipisicing velit ullamco nulla sint enim do quis aute
    </p>

    <a href="#skills-section" class="about-me__link">More about me</a>
  </div>

  <div class="about-me__images">
    <img
      src="assets/images/designed-mountains-and-flowers.png"
      alt="Горный пейзаж с цветущим лугом на переднем плане"
      class="about-me__main-image"
    />

    <img
      src="assets/images/text-circle-design-element.svg"
      alt="Круговая надпись my blogs со стрелкой вниз (декоративный элемент)"
      class="about-me__design-element"
    />
  </div>
</section>
