:root {
  --main-image-width: 479px;
  --main-image-height: 647px;
}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 156px;

  &__text-block {
    align-self: center;
  }

  &__images {
    position: relative;
  }

  &__main-image {
    display: block;
    max-width: none;
    width: var(--main-image-width);

    height: auto;
    object-fit: cover;

    z-index: 1;
  }

  &__design-element {
    left: -118px;
    top: 39%;
    position: absolute;
    z-index: 1;
  }

  &__header {
    margin-bottom: 35px;
  }

  &__paragraph {
    color: var(--color-gray-on-bright);
    margin-bottom: 14px;
  }

  &__link {
    color: var(--color-green-dark);

    display: inline-flex;
    align-items: center;

    gap: 12px;

    transition: all 0.3s ease;
  }

  &__link:hover {
    filter: brightness(0.8);
    transform: scale(1.02);

    &::after {
      filter: brightness(0.8);
      transform: translateX(5px) scale(1.02);
    }
  }

  &__link::after {
    content: url("/assets/icons/continue-icon.svg");
    color: var(--color-green-dark);

    height: 19px;
    line-height: 100%;

    transition: all 0.3s ease;
  }
}
