.footer {
  color: var(--color-white-on-dark);

  display: flex;
  justify-content: space-between;
  flex: 1;

  gap: 100px;
}

.footer h2 {
  color: var(--color-white-on-dark);
  margin: 0;
}

.footer a {
  color: var(--color-white-on-dark);
}

.social-networks {
  display: flex;
  gap: 40px;

  &__link {
    transition: transform 0.3s;
  }
}

.offer-section {
  display: flex;
  flex-direction: column;

  gap: 28px;
  max-width: 480px;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.trademark {
  position: absolute;
  bottom: 15px;
}
