<section class="recently-posts">
  <article class="post">
    <div class="post__text">
      <span class="post__category post__category--orange"
        >Product photography</span
      >
      <h3 class="post__title">Paris secrets</h3>
      <p class="post__description">
        Sint occaecat deserunt aliquip do occaecat ut quis. Cupidatat magna
        fugiat quis sit duis est in volup
      </p>
    </div>

    <img class="post__image" src="assets/images/empty-picture.png" alt="" />
  </article>

  <article class="post">
    <div class="post__text">
      <span class="post__category post__category--green">Portrait</span>
      <h3 class="post__title">Oceanic feeling</h3>
      <p class="post__description">
        Sint occaecat deserunt aliquip do occaecat ut quis. Cupidatat magna
        fugiat quis sit duis est in volup
      </p>
    </div>

    <img class="post__image" src="assets/images/empty-picture.png" alt="" />
  </article>

  <div class="browse-button-container">
    <a class="browse-button browse-button--bouncing" routerLink="/blog"
      >Browse all posts</a
    >
  </div>
</section>
