<section class="job-experience">
  <div class="job-experience__text">
    <h2 class="job-experience__title">My work</h2>
    <p class="job-experience__description">
      Duis nisi do exercitation in irure aliqua commodo nisi eu id reprehenderit
      dolore fugiat consectetur irure
    </p>
  </div>

  <ul class="timeline" id="job-experience-timeline-list">
    <ul class="timeline">
      <li class="timeline__element timeline__element--bottom-hr">
        <div class="record">
          <img
            src="assets/images/graphic-design-logo.png"
            alt=""
            class="record__image"
          />
          <div class="record__text">
            <p class="record__period">Consectetur - (2016 - 2017)</p>
            <h4 class="record__title">Graphic design</h4>
            <p class="record__description">
              Nostrud tempor cillum sunt excepteur do ut proident deserunt enim
              consequat exercitatio
            </p>
          </div>
        </div>
      </li>
      <li class="timeline__element timeline__element--bottom-hr">
        <div class="record">
          <img
            src="assets/images/photographer-logo.png"
            alt=""
            class="record__image"
          />
          <div class="record__text">
            <p class="record__period">Bibendum - (2017 - 2020)</p>
            <h4 class="record__title">Photographer</h4>
            <p class="record__description">
              Ad do dolore cillum dolor et ex non dolor qui. Dolor amet tempor
              pariatur officia pariatur et
            </p>
          </div>
        </div>
      </li>
      <li class="timeline__element timeline__element--bottom-hr">
        <div class="record">
          <img
            src="assets/images/photographer-assistant-logo.png"
            alt=""
            class="record__image"
          />
          <div class="record__text">
            <p class="record__period">Adipiscing - (2020 - 2022)</p>
            <h4 class="record__title">Photographer's Assistant</h4>
            <p class="record__description">
              Ad do dolore cillum dolor et ex non dolor qui. Dolor amet tempor
              pariatur officia pariatur et
            </p>
          </div>
        </div>
      </li>
    </ul>
  </ul>
</section>
