.job-experience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;

  gap: 2.2vw;
}

.job-experience__text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

// timeline
.timeline {
  display: flex;
  flex-direction: column;
  flex: 1;

  gap: 36px;
}

// timeline record
.record {
  display: flex;
  gap: 20px;
}

.record__image {
  width: 75px;
  height: 75px;
}

.record__title {
  font-weight: var(--font-regular);
  font-size: var(--text-xl);
}

.record__text {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.record__description,
.record__period {
  display: inline;
}
