<form [formGroup]="articleForm" class="form" id="form--bright">
  <div>
    <h3 class="form__header">
      {{ isEditMode ? "Изменить статью" : "Добавить статью" }}
    </h3>

    <fieldset [disabled]="isSubmitting" class="fieldset">
      <div class="form__element">
        <label for="form-title-input">Заголовок</label>
        <input
          id="form-title-input"
          type="text"
          formControlName="title"
          placeholder="Заголовок"
          class="form__input form__input--bright"
          [class.form__input--invalid]="
            titleControl?.invalid && titleControl?.touched
          "
        />
        <div
          class="form__error"
          [hidden]="!(titleControl?.invalid && titleControl?.touched)"
        >
          <span [hidden]="!titleControl?.errors?.['required']"
            >Заголовок обязателен</span
          >
          <span [hidden]="!titleControl?.errors?.['minlength']"
            >Минимум 25 символов</span
          >
        </div>
      </div>

      <div class="form__element">
        <label for="form-article-content">Текст статьи</label>
        <textarea
          id="form-article-content"
          formControlName="content"
          placeholder="Текст статьи"
          class="form__input form__input--bright form__input--tall"
          [class.form__input--invalid]="
            contentControl?.invalid && contentControl?.touched
          "
        ></textarea>
        <div
          class="form__error"
          [hidden]="!(contentControl?.invalid && contentControl?.touched)"
        >
          <span [hidden]="!contentControl?.errors?.['required']"
            >Текст статьи обязателен</span
          >
          <span [hidden]="!contentControl?.errors?.['minlength']"
            >Минимум 25 символов</span
          >
        </div>
      </div>
    </fieldset>
  </div>

  <section class="buttons">
    <button
      type="button"
      class="form__submit-button form__submit-button--bouncing"
      [class.form__submit-button--loading]="isSubmitting"
      [disabled]="isSubmitting"
      [disabled]="
        (titleControl?.invalid && titleControl?.touched) ||
        (contentControl?.invalid && contentControl?.touched)
      "
      (click)="onSubmit()"
    >
      {{
        isEditMode
          ? isSubmitting
            ? "Сохранение..."
            : "Сохранить"
          : isSubmitting
            ? "Добавление..."
            : "Добавить"
      }}
    </button>
    <button
      type="button"
      class="form__cancel-button form__cancel-button--bouncing"
      [disabled]="isSubmitting"
      (click)="onCancel()"
    >
      Отмена
    </button>
  </section>
</form>
